In [10]:
import mysql.connector
import csv

In [13]:
csv_data= csv.reader('ratings.csv')

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="rijensayami00438"
)
cursor=conn.cursor()
print("Done")
for row in csv_data:
    #cursor.execute('INSERT INTO \'daily_new\' (date, cust_bal, cust_credit, fund_stock, fund_hyb, fund_bond ) VALUES({}, {}, {}, {}, {}, {})'.format(row[0], row[1], row[2], row[3], row[4], row[5]))
    sql="INSERT INTO  daily_n (date,cust_bal, cust_credit, fund_stock, fund_hyb, fund_bond ) VALUES('2017-01-01','2','2','2','2','2')"
    cursor.execute(sql)
    conn.commit()

cursor.close()

NameError: name 'conn' is not defined