In [18]:
import numpy
import pandas as pd
import progressbar as pb

In [27]:
def matrix_factorization(R,P,Q,K,steps=100,alpha=0.0002,beta=0.02):
    Q=Q.T
    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j]>0:
                    eij=R[i][j]-numpy.dot(P[i,:],Q[:,j])
    
                    for k in range(K):
                        P[i][k]=P[i][k]+alpha*(2*eij*Q[k][j]-beta*P[i][k])
                        Q[k][j]=Q[k][j]+alpha*(2*eij*P[i][k]-beta*Q[k][j])
       # eR=numpy.dot(P,Q)
        e=0
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j]>0:
                    e=e+pow(R[i][j]-numpy.dot(P[i,:],Q[:,j]),2)
                    for k in range(K):
                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
        if e<0.001:
            break
    return P,Q.T

In [1]:
# R = [
#      [5,3,0,1],
#      [4,0,0,1],
#      [1,1,0,5],
#      [1,0,0,4],
#      [0,1,5,4],
#     ]

# R = numpy.array(R)
# N = len(R)
# M = len(R[0])
# K = 2

# P = numpy.random.rand(N,K)
# Q = numpy.random.rand(M,K)

# nP,nQ = matrix_factorization(R, P, Q, K)
# nR = np.dot(nP, nQ.T)
# nR

In [21]:
ratings=pd.read_csv("ratings.csv")
movies=pd.read_csv("movies.csv")
ratings=pd.merge(movies,ratings).drop(columns=["genres","timestamp"])#["genres","timestamp"],axis=1
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [22]:
user_ratings=ratings.pivot_table(index={'userId'},columns={'title'},values={'rating'})
user_ratings.head()

           rating                                          \
title  '71 (2014) 'Hellboy': The Seeds of Creation (2004)
userId
1             NaN                                     NaN
2             NaN                                     NaN
3             NaN                                     NaN
4             NaN                                     NaN
5             NaN                                     NaN

                                                                             \
title  'Round Midnight (1986) 'Salem's Lot (2004) 'Til There Was You (1997)
userId
1                         NaN                 NaN                       NaN
2                         NaN                 NaN                       NaN
3                         NaN                 NaN                       NaN
4                         NaN                 NaN                       NaN
5                         NaN                 NaN                       NaN

                                                           \
title  'Tis the Season for Love (2015) 'burbs, The (1989)
userId
1                                  NaN                NaN
2                                  NaN                NaN
3                                  NaN                NaN
4                                  NaN                NaN
5                                  NaN                NaN

                                                         \
title  'night Mother (1986) (500) Days of Summer (2009)
userId
1                       NaN                         NaN
2                       NaN                         NaN
3                       NaN                         NaN
4                       NaN                         NaN
5                       NaN                         NaN

                                       \
title  *batteries not included (1987)
userId
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
5                                 NaN

                          ...                                              \
title                     ...                    Zulu (2013) [REC] (2007)
userId                    ...
1                         ...                            NaN          NaN
2                         ...                            NaN          NaN
3                         ...                            NaN          NaN
4                         ...                            NaN          NaN
5                         ...                            NaN          NaN

                                              \
title  [REC]² (2009) [REC]³ 3 Génesis (2012)
userId
1                NaN                     NaN
2                NaN                     NaN
3                NaN                     NaN
4                NaN                     NaN
5                NaN                     NaN

                                                                               \
title  anohana: The Flower We Saw That Day - The Movie (2013) eXistenZ (1999)
userId
1                                                     NaN                 NaN
2                                                     NaN                 NaN
3                                                     NaN                 NaN
4                                                     NaN                 NaN
5                                                     NaN                 NaN

                                                                        \
title  xXx (2002) xXx: State of the Union (2005) ¡Three Amigos! (1986)
userId
1             NaN                            NaN                   4.0
2             NaN                            NaN                   NaN
3             NaN                            NaN                   NaN
4             NaN                            NaN                   NaN
5             NaN                            NaN                   NaN


title  À nous la liberté (Freedom for Us) (1931)
userId
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
5                                            NaN

[5 rows x 9719 columns]

In [23]:
user_ratings=user_ratings.fillna(0)
user_ratings.head()

           rating                                          \
title  '71 (2014) 'Hellboy': The Seeds of Creation (2004)
userId
1             0.0                                     0.0
2             0.0                                     0.0
3             0.0                                     0.0
4             0.0                                     0.0
5             0.0                                     0.0

                                                                             \
title  'Round Midnight (1986) 'Salem's Lot (2004) 'Til There Was You (1997)
userId
1                         0.0                 0.0                       0.0
2                         0.0                 0.0                       0.0
3                         0.0                 0.0                       0.0
4                         0.0                 0.0                       0.0
5                         0.0                 0.0                       0.0

                                                           \
title  'Tis the Season for Love (2015) 'burbs, The (1989)
userId
1                                  0.0                0.0
2                                  0.0                0.0
3                                  0.0                0.0
4                                  0.0                0.0
5                                  0.0                0.0

                                                         \
title  'night Mother (1986) (500) Days of Summer (2009)
userId
1                       0.0                         0.0
2                       0.0                         0.0
3                       0.0                         0.0
4                       0.0                         0.0
5                       0.0                         0.0

                                       \
title  *batteries not included (1987)
userId
1                                 0.0
2                                 0.0
3                                 0.0
4                                 0.0
5                                 0.0

                          ...                                              \
title                     ...                    Zulu (2013) [REC] (2007)
userId                    ...
1                         ...                            0.0          0.0
2                         ...                            0.0          0.0
3                         ...                            0.0          0.0
4                         ...                            0.0          0.0
5                         ...                            0.0          0.0

                                              \
title  [REC]² (2009) [REC]³ 3 Génesis (2012)
userId
1                0.0                     0.0
2                0.0                     0.0
3                0.0                     0.0
4                0.0                     0.0
5                0.0                     0.0

                                                                               \
title  anohana: The Flower We Saw That Day - The Movie (2013) eXistenZ (1999)
userId
1                                                     0.0                 0.0
2                                                     0.0                 0.0
3                                                     0.0                 0.0
4                                                     0.0                 0.0
5                                                     0.0                 0.0

                                                                        \
title  xXx (2002) xXx: State of the Union (2005) ¡Three Amigos! (1986)
userId
1             0.0                            0.0                   4.0
2             0.0                            0.0                   0.0
3             0.0                            0.0                   0.0
4             0.0                            0.0                   0.0
5             0.0                            0.0                   0.0


title  À nous la liberté (Freedom for Us) (1931)
userId
1                                            0.0
2                                            0.0
3                                            0.0
4                                            0.0
5                                            0.0

[5 rows x 9719 columns]

In [28]:
user_ratings=numpy.array(user_ratings)
N=len(user_ratings)
M=len(user_ratings[0])
K=2
P=numpy.random.rand(N,K)
Q=numpy.random.rand(M,K)
nP,nQ=matrix_factorization(user_ratings,P,Q,K)
nR=numpy.dot(nP,nQ.T)
nR

array([[3.81628348, 1.47961462, 2.87891283, ..., 2.33954785, 3.9046961 ,
        1.43552607],
       [2.94116888, 1.07955019, 2.35427799, ..., 1.77806083, 2.65000589,
        1.04134313],
       [1.91373132, 0.69755458, 1.54273442, ..., 1.15492502, 1.69544822,
        0.67235507],
       ...,
       [2.9618738 , 1.15083724, 2.22882134, ..., 1.81678057, 3.04519311,
        1.11679248],
       [2.68847877, 1.03873487, 2.03619162, ..., 1.6466661 , 2.72937537,
        1.00742385],
       [3.57382097, 1.37593469, 2.71758032, ..., 2.18692739, 3.59941843,
        1.3339741 ]])